<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Login Form | Codeacademy</title>
  <link rel="stylesheet" href="aa11.css">
</head>
<body>
  <!-- Title Section -->
  <div class="title-section">
    <h1>Code Academy University</h1>
  </div>

  
  
  
  
  
  <!-- Button Row Wrapper -->
  <div class="button-wrapper">
    <div class="button-row">
      <a href="ab.html" class="menu-button">Studentai</a>
      <a href="ac.html" class="menu-button">Destytojai</a>
      <a href="ad.html" class="menu-button">Programos</a>
      <a href="af.html" class="menu-button">Fakultetai</a>
      <a href="ag.html" class="menu-button">Uzdaviniai</a>
    </div>
  </div>

  <!-- Wrapper for Login Form -->
  <div class="wrapper">
    <!-- Login Form -->
    <form action="#">
      <h2>Login</h2>
      <div class="input-field">
        <input type="text" required>
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" required>
        <label>Enter your password</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
        <p>Don't have an account? <a href="#">Register</a></p>
      </div>
    </form>
  </div>


  <div class="corner-wrapper">
    <a href="#">Home</a>
  </div>




</body>
</html>
