<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description">
    <meta name="keywords">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles_panel.css') }}" />
  </head>
  <body>
    {% block body %}
    {% endblock body %}
    <script src="{{url_for('static', filename='java_panel.js')}}"></script>
  </body>
</html>
