<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <header>
            <h1 class="text-center">Administratoriaus Pultas</h1>
        </header>

        <!-- Pagrindinis turinys -->
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>