{% extends "base_login_register.html" %}
{% block body %}
  <div class="header">
    <a href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='images/logo.png') }}"
           height="45"
           width=""
           alt="" />
    </a>
  </div>
  <div class="container">
    <div class="left-content">
      <a href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='images/logo2.png') }}"
             height="50"
             width=""
             alt="" />
      </a>
      <div class="description padding">
        Klaipėdos universiteto elektroninėje informacinėje erdvėje galioja
        vieningos prieigos sistema.
      </div>
      <div class="note">
        Naudodamiesi Jums suteikta asmenine paskyra pasiekite daugumą
        Universiteto teikiamų elektroninių paslaugų.
      </div>
      <!-- Courses list -->
      <div id="coursesList" class="displayNone">
        <div class="form-label">Pasirinkite kursą:</div>
        <div class="courses-list">
          <div class="course-item">Informatika (P000F001)</div>
          <div class="course-item">Ekonomika (P000F002)</div>
          <div class="course-item">Teisė (P000F003)</div>
          <div class="course-item">Verslo vadyba (P000F004)</div>
        </div>
        <input type="hidden" id="selected-course-input" name="selected_course">
      </div>
    </div>
    <div class="right-content">
      <div class="tabs">
        <div class="tab-register active" data-form="student">Studentas</div>
        <div class="tab-register inactive" data-form="lecturer">Darbuotojas</div>
      </div>
      <!-- Student form -->
      <div class="form-content active" id="student">
        <div class="form-label">El. paštas</div>
        <div class="form-box" id="text-input">
          <input type="email" class="form-input" placeholder="vardas.pavarde@ku.lt" />
        </div>
        <div class="form-label">Slaptažodis</div>
        <div class="form-box">
          <input type="password" class="form-input" placeholder="Slaptažodis" />
        </div>
        <form action="{{ url_for('panel') }}">
          <button class="login-btn">Registruotis</button>
        </form>
        {# <div class="forgot-link">
          <a href="#">Pamiršai slaptažodį?</a>
        </div> #}
      </div>
      <!-- Lecturer form -->
      <div class="form-content" id="lecturer">
        <div class="form-label">El. paštas</div>
        <div class="form-box">
          <input type="text" class="form-input" placeholder="destytojas.pavarde@ku.lt" />
        </div>
        <div class="form-label">Slaptažodis</div>
        <div class="form-box">
          <input type="password" class="form-input" placeholder="Slaptažodis" />
        </div>
        <form action="{{ url_for('panel') }}">
          <button class="login-btn">Registruotis</button>
        </form>
        {# <div class="forgot-link">
          <a href="#">Pamiršai slaptažodį?</a>
        </div> #}
      </div>
    </div>
    <div class="background-wave"></div>
  </div>
  <div class="accessibility">♿</div>
  <div class="language">LT ▼</div>
{% endblock body %}
